.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: inline-block;
  width: 120px;
  height: 66px;
  background: url('img/logo_1440.svg') center / cover no-repeat;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.header__logo:focus {
  outline: 1px solid transparent;
}

.header__logo:focus-visible {
  outline: 1px solid var(--highlight-purple, #cd06ff);
}

.header__navigation-clone{
  display: none;
  overflow: hidden;
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;
}

.header__navigation-item:not(:last-child) {
  margin: 0 40px 0 0;
}

.header__navigation-link {
  display: inline-block;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: border-bottom .2s ease, color .2s ease;
}

.header__navigation-link:hover {
  border-bottom: 2px solid var( --text-color, #ffffff);
}

.header__navigation-link:focus {
  outline: 1px solid transparent;
}

.header__navigation-link:focus-visible {
  outline: 1px solid var(--highlight-purple, #cd06ff);
}

.header__navigation-link:active {
  color: var(--highlight-purple, #cd06ff);
  border-bottom: 2px solid var(--highlight-purple, #cd06ff);
}

.header__menu-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.header__button-wrapper{
  display: none;
  overflow: hidden;
}

.header__button {
  margin: 0 0 -1px 0;
  padding: 9px 29px 10px 29px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  background: transparent;
  color: var( --text-color, #ffffff);
  border: 3px solid var(--highlight-purple, #cd06ff);
  border-radius: 10px;
  transition: background .2s ease, border .2s ease;
}

.header__button:hover, .header__button:focus-visible {
  background: var(--dark-purple, #6c0287);
  border: 3px solid var(--dark-purple, #6c0287);
}

.header__button:focus {
  outline: none;
}

.header__button:active {
  background: #640aa3;
  border: 3px solid #640aa3;
}

.nav-overlay {
  display: none;
  overflow: hidden;
}

@media (max-width:1150px) {
  .header__logo {
    width: 87px;
    height: 55px;
    background: url('img/logo_1024.svg') center / cover no-repeat;
  }

  .header__navigation-item:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .header__navigation-link {
    font-size: 18px;
    line-height: 30px;
  }

  .header__button {
    padding: 7px 23px 8px 23px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 8px;
  }

}

@media (max-width:880px) {
  .nav-overlay {
    background-color: rgba(0,0,0, 0.0);
  }

  .nav-overlay_visible {
    display: block;
    overflow: visible;
    position: absolute;
    top: 85;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 45;
  }

  .header__container {
    background-color: var(--background-dark, #1b1a1b);
  }

  .header__navigation {
    display: none;
    overflow: hidden;
  }

  .header__navigation-clone_visible {
    display: block;
    overflow: visible;
    padding: 60px 0;
    width: 100%;
    background-color: var(--background-dark, #1b1a1b);
  }
  
  .header__navigation-clone-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__navigation-clone-item {
    display: block;
    width: 100%;
  }

  .header__navigation-clone-item:not(:last-child) {
    margin: 0 0 4px 0;
  }

  .header__navigation-clone-link {
    margin: 0;
    padding: 19px 0 16px 0;
    display: block;
    line-height: 22px;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: none;
    outline: none;
    background-color: var(--background-dark, #1b1a1b);
    transition: background-color .2s ease, color .2s ease;
  }
  
  .header__navigation-clone-link:hover,
  .header__navigation-clone-link:focus,
  .header__navigation-clone-link:focus-visible {
    background-color:var(--dark-purple, #6c0287);
    font-weight: 700;
  }
  
  .header__navigation-clone-link:active {
    background-color: var(--highlight-purple, #cd06ff);
    font-weight: 700;
  }
  
  .header__menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    visibility: visible;
    min-height: 29px;
    margin: 0 0 -10px 0;
    background: none;
    border: none;
    outline-offset: 2px;
    outline: 1px solid transparent;
  }

  .header__menu-button-line {
    display: inline-block;
    height: 5px;
    width: 54px;
    background-color: var(--dark-purple, #6c0287);
    border-radius: 3px;
  }

  .header__menu-button-line:first-child {
    transition: background-color .2s ease, transform .2s ease;
  }

  .header__menu-button-line:nth-child(2) {
    transition: background-color .2s ease, opacity .2s ease;
  }

  .header__menu-button-line:last-child {
    width: 31px;
    transition: background-color .2s ease, width .2s ease, transform .2s ease;
  }

  .header__menu-button:hover > .header__menu-button-line {
    background-color: var(--highlight-purple, #cd06ff);
  }

  .header__menu-button:focus-visible {
    outline: 1px solid var(--highlight-purple, #cd06ff);
  }

  .header__menu-button:focus-visible > .header__menu-button-line {
    background-color: #840AA3;;
  }

  .header__menu-button:focus {
    outline: 1px solid transparent;
  }

  .header__menu-button:active > .header__menu-button-line {
    background-color: #840AA3;
  }

  .header__menu-button:active .header__menu-button-line:first-child,
  .header__menu-button_close .header__menu-button-line:first-child {
    transform: translateY(12px) rotate(45deg);
  }

  .header__menu-button:active .header__menu-button-line:nth-child(2),
  .header__menu-button_close .header__menu-button-line:nth-child(2) {
    opacity: 0;
  }

  .header__menu-button:active .header__menu-button-line:last-child,
  .header__menu-button_close .header__menu-button-line:last-child {
    width: 54px;
    transform: translateY(-12px) rotate(-45deg);
  }

  .header__menu-button_close:active .header__menu-button-line:first-child {
    transform: translateY(0px);
  }

  .header__menu-button_close:active .header__menu-button-line:nth-child(2) {
    opacity: 1;
  }

  .header__menu-button_close:active .header__menu-button-line:last-child {
    width: 54px;
    transform: translateY(0px);
  }
}

@media (max-width:600px) {
  .header__navigation-clone_visible {
    overflow: visible;
    padding: 36px 0;
  }

  .header__navigation-clone-item:not(:last-child) {
    margin: 0;
  }

  .header__navigation-clone-link {
    padding: 14px 0 12px 0;
    font-size: 14px;
    line-height: 22px;
  }

  .header__menu-button {
    min-height: 20px;
    max-width: 39px;
  }

  .header__menu-button-line {
    display: inline-block;
    height: 3.5px;
    width: 39px;
    background-color: var(--dark-purple, #6c0287);
    border-radius: 3px;
  }

  .header__menu-button-line:last-child {
    width: 22px;
  }

  .header__menu-button:active .header__menu-button-line:first-child,
  .header__menu-button_close .header__menu-button-line:first-child {
    transform: translateY(8.25px) rotate(45deg);
  }

  .header__menu-button:active .header__menu-button-line:last-child,
  .header__menu-button_close .header__menu-button-line:last-child {
    width: 39px;
    transform: translateY(-8.25px) rotate(-45deg);
  }

  .header__menu-button_close:active .header__menu-button-line:first-child {
    transform: translateY(0px);
  }

  .header__menu-button_close:active .header__menu-button-line:last-child {
    width: 39px;
    transform: translateY(0px);
  }

  .header__logo {
    width: 66px;
    height: 42px;
    background: url('img/logo__320.svg') center / cover no-repeat;
  }

  .header__button {
    display: none;
    overflow: hidden;
  }

  .header__button-wrapper_visible {
    display: block;
    overflow: visible;
    display: flex;
    justify-content: center;
    background-color: var(--background-dark, #1b1a1b);
    padding: 2px 0 27px 0;
    opacity: 0;
  }

  .header__button-clone_visible {
    display: block;
    padding: 9px 23px 10px 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    border: 2px solid var(--highlight-purple, #cd06ff);
    border-radius: 6px;
    margin: 0 0 -1px 0;
    text-transform: uppercase;
    background: transparent;
    color: var( --text-color, #ffffff);
    transition: background .2s ease, border .2s ease;
  }

  .header__button-clone:hover, .header__button:focus-visible {
    background: var(--dark-purple, #6c0287);
    border: 2px solid var(--dark-purple, #6c0287);
  }
  
  .header__button-clone:active {
    background: #640aa3;
    border: 2px solid #640aa3;
  } 
}