.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: inline-block;
  width: 120px;
  height: 66px;
  background: url('img/logo_1440.svg') center / cover no-repeat;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.header__logo:focus {
  outline: 1px solid transparent;
}

.header__logo:focus-visible {
  outline: 1px solid var(--highlight-purple, #cd06ff);
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;
}

.header__navigation-item:not(:last-child) {
  margin: 0 40px 0 0;
}

.header__navigation-link {
  display: inline-block;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: border-bottom .2s ease, color .2s ease;
}

.header__navigation-link:hover {
  border-bottom: 2px solid var( --text-color, #ffffff);
}

.header__navigation-link:focus {
  outline: 1px solid transparent;
}

.header__navigation-link:focus-visible {
  outline: 1px solid var(--highlight-purple, #cd06ff);
}

.header__navigation-link:active {
  color: var(--highlight-purple, #cd06ff);
  border-bottom: 2px solid var(--highlight-purple, #cd06ff);
}

.header__menu-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.header__button {
  margin: 0 0 -1px 0;
  padding: 9px 29px 10px 29px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  background: transparent;
  color: var( --text-color, #ffffff);
  border: 3px solid var(--highlight-purple, #cd06ff);
  border-radius: 10px;
  transition: background .2s ease, border .2s ease;
}

.header__button:hover, .header__button:focus-visible {
  background: var(--dark-purple, #6c0287);
  border: 3px solid var(--dark-purple, #6c0287);
}

.header__button:focus {
  outline: none;
}

.header__button:active {
  background: #640aa3;
  border: 3px solid #640aa3;
} 

@media (max-width:1150px) {
  .header__logo {
    width: 87px;
    height: 55px;
    background: url('img/logo_1024.svg') center / cover no-repeat;
  }

  .header__navigation-item:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .header__navigation-link {
    font-size: 18px;
    line-height: 30px;
  }

  .header__button {
    padding: 7px 23px 8px 23px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 8px;
  }

}

@media (max-width:880px) {
  .nav-overlay_visible {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    z-index: 45;
  }

  .header__container {
    background-color: var(--background-dark, #1b1a1b);
  }

  .header__container_active {
    padding-top: 32px;
    padding-bottom: 20px;
  }

  .drop-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-dark, #1b1a1b);
  }

  .header__logo {
    order: 2;
  }

  .header__navigation {
    display: none;
    height: 0;
    overflow: hidden;
    order: 4;
    z-index: 49;
    width: 100%;
  }

  .header__navigation_visible {
    display: block;
    height: auto;
    overflow: visible;
    padding: 60px 0;
  }
  
  .header__navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__navigation-item:not(:last-child) {
    margin: 0 0 40px 0;
  }

  .header__navigation-link {
    margin: 0;
    display: block;
    line-height: 22px;
  }
  
  .header__menu-button {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    visibility: visible;
    min-height: 29px;
    margin: 0 0 -10px 0;
    background: none;
    border: none;
    outline-offset: 2px;
    outline: 1px solid transparent;
  }

  .header__menu-button-line {
    display: inline-block;
    height: 5px;
    width: 54px;
    background-color: var(--dark-purple, #6c0287);
    border-radius: 3px;
    transition: background-color .2s ease;
  }

  .header__menu-button-line:last-child {
    width: 31px;
  }

  .header__button {
    order: 3;
    margin: 0 0 -10px 0;
  }

  .header__menu-button:hover > .header__menu-button-line {
    background-color: var(--highlight-purple, #cd06ff);
  }

  .header__menu-button:focus-visible {
    outline: 1px solid var(--highlight-purple, #cd06ff);
  }

  .header__menu-button:focus-visible > .header__menu-button-line {
    background-color: #840AA3;;
  }

  .header__menu-button:focus {
    outline: 1px solid transparent;
  }

  .header__menu-button:active > .header__menu-button-line {
    background-color: #840AA3;
  }
}

@media (max-width:600px) {
  .header__menu-button {
    min-height: 20px;
    max-width: 39px;
  }

  .header__menu-button {
    min-height: 20px;
  }

  .header__menu-button-line {
    display: inline-block;
    height: 3.5px;
    width: 39px;
    background-color: var(--dark-purple, #6c0287);
    border-radius: 3px;
    transition: background-color .2s ease;
  }

  .header__menu-button-line:last-child {
    width: 22px;
  }

  .header__logo {
    width: 66px;
    height: 42px;
    background: url('img/logo__320.svg') center / cover no-repeat;
  }

  .header__button {
    display: none;
  }
}